In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [7]:
#Kazada ölenlerin yaş ortalamasını bulunuz


dead_psngrs = train_data[train_data['Survived'] == 0]
avrg_age_dead = dead_psngrs['Age'].mean()

print(f"Ölenlerin yaş ortalaması: {avrg_age_dead}")
print(f"Ölenlerin yaş ortalaması: {int(avrg_age_dead)}")

Ölenlerin yaş ortalaması: 30.62617924528302
Ölenlerin yaş ortalaması: 30

In [8]:
# Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

mean_fare = dead_psngrs['Fare'].mean()
median_fare = dead_psngrs['Fare'].median()

print(f"Ölenlerin bilet ortalaması: {mean_fare}")

print(f"Ölenlerin bilet ortalaması tam sayı: {int(mean_fare)}")

print(f"Ölenlerin bilet medyan: {median_fare}")

Ölenlerin bilet ortalaması: 22.117886885245902
Ölenlerin bilet ortalaması tam sayı: 22
Ölenlerin bilet medyan: 10.5

In [9]:
#Kazada ölen erkeklerin yaş ortalamasını bulunuz
dead_male = dead_psngrs[dead_psngrs['Sex'] == 'male']
avrg_age_dead_male = dead_male['Age'].mean()
print(f"Ölen erkeklerin yaş ortalaması: {avrg_age_dead_male}")

Ölen erkeklerin yaş ortalaması: 31.618055555555557

In [10]:
#Kazada ölen Kadınların yaş ortalamasını bulunuz
dead_women = dead_psngrs[dead_psngrs['Sex'] == 'female']
avg_age_dead_women = dead_women['Age'].mean()
print(avg_age_dead_women)

25.046875

In [11]:
#Kazadan kurtulanların yaş ortalamasını bulunuz
survived_person = train_data[train_data['Survived'] == 1]
srvr_age_mean = survived_person['Age'].mean()
print(srvr_age_mean)

28.343689655172415

In [12]:
# Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz
srvr_mean_far = survived_person['Fare'].mean()
print(srvr_mean_far)

48.39540760233918

In [13]:
#Kazadan kurtulan toplam kişi sayısını bulunuz… 
#(tüyo: len(df_titanic[(df_titanic.Survived==1)]   kodu ile de bu sayıya ulaşabilirsiniz.)
total_survivor_person = len(survived_person)
print(total_survivor_person)

342

In [14]:
#10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz
psngrs = train_data[train_data['Age'] < 10]
psngrs_fare = psngrs['Fare'].median()
print(psngrs_fare)

27.0

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

In [15]:
#1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. 
#(Pclass değişkeni sınıfları barındırmaktadır.)

# 1. sınıf yolcularının bilet fiyatlarının ortalaması ve medyanı
one_class = train_data[train_data['Pclass'] == 1]
one_class_mean = one_class['Fare'].mean()
one_class_median = one_class['Fare'].median()

# 2. sınıf yolcularının bilet fiyatlarının ortalaması ve medyanı
two_class = train_data[train_data['Pclass'] == 2]
two_class_mean = two_class['Fare'].mean()
two_class_median = two_class['Fare'].median()

# 3. sınıf yolcularının bilet fiyatlarının ortalaması ve medyanı
three_class = train_data[train_data['Pclass'] == 3]
three_class_mean = three_class['Fare'].mean()
three_class_median = three_class['Fare'].median()


# Ortalama ve Medyan değerlerini birleştirme
class_fares = {
    'Pclass': [1, 2, 3],
    'Mean Fare': [one_class_mean, two_class_mean, three_class_mean],
    'Median Fare': [one_class_median, two_class_median, three_class_median]
}

# Veriyi DataFrame'e dönüştürme
class_fares_df = pd.DataFrame(class_fares)

# Ortalama bilet fiyatlarını sıralama
sorted_mean_fare = class_fares_df[['Pclass', 'Mean Fare']].sort_values(by='Mean Fare', ascending=False)

# Medyan bilet fiyatlarını sıralama
sorted_median_fare = class_fares_df[['Pclass', 'Median Fare']].sort_values(by='Median Fare', ascending=False)

# Sonuçları yazdırma
print("Sıralanmış Ortalama Bilet Fiyatları:")
print(sorted_mean_fare)

print("\nSıralanmış Medyan Bilet Fiyatları:")
print(sorted_median_fare)

Sıralanmış Ortalama Bilet Fiyatları:
   Pclass  Mean Fare
0       1  84.154688
1       2  20.662183
2       3  13.675550

Sıralanmış Medyan Bilet Fiyatları:
   Pclass  Median Fare
0       1      60.2875
1       2      14.2500
2       3       8.0500

In [16]:
#Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. 
#(Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

#Erkeklerin oranı
total_men = train_data[train_data['Sex'] == 'male']
men_measure = len(dead_male) / len(total_men)
print("ölen erkeklerin erkeklere oranı :" ,men_measure)

#Kadınların oranı
total_women =train_data[train_data['Sex'] == 'female']
women_measure = len(dead_women) / len(total_women)
print("Kadınların oranı:", women_measure)

total_measure = len(dead_women) / len(dead_male)
print("ölen kadınların ölen erkeklere oranı:", total_measure)

ölen erkeklerin erkeklere oranı : 0.8110918544194108
Kadınların oranı: 0.25796178343949044
ölen kadınların ölen erkeklere oranı: 0.17307692307692307